.aboutPage{
    background-color: rgba(225, 199, 199, 0.661);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.about-content{
    width: 50%;
    margin-left: 20px;
    border: 1px solid #3333335d;
    border-radius: 10px;
    padding: 14px; 
}
.about-content p{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
    margin-bottom: 1rem;
    padding-left: 40px;

}
.containImage{
    height: 380px;
    width: 380px; 
    overflow-y: hidden;
}
.myImage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}