.containBlogs{
    display: flex;
    justify-content: space-between;  
}

.mapBlog{
    width: 60%;
    border: 1px solid black;
    height: 100%;
    margin-top: 10px;
    border-radius: 4px;

 
}

.blogg{
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.blogg:hover{
    background-color: #c06024bf;
    color: #fff;
    cursor: pointer;
}
.title{
    text-align: center;
    color: #073A09;
    border: 1px solid black;
    background-color: #c06024bf;
    font-size: 2rem;
}

.content{
    padding: 20px;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.shortSummary{
    width: 40%;
    text-align: center;

}
.sammary-title{
    text-align: center;
    color: #073A09;
    
}
.summary{
    border: 1px solid black;
    padding: 54px;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 8px;
}
.readmore-btn{
    background-color: #c06024bf;
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}


